<div align="center">

    <div>

        <h3 align="center"> Charge Break-up </h3>
        <table class="table">

            <tr>
                <th>Base Fee</th>
                <td>Rs.{{payment.baseFee}}</td>
            </tr>
            <tr>
                <th>Costume Charge</th>
                <td>Rs.{{payment.costumeCharge}}</td>
            </tr>
            <tr>
                <th>Internet Handling Fee</th>
                <td>Rs.{{payment.internetFee}}</td>
            </tr>
            <tr>
                <th>CGST(2.5%)</th>
                <td>Rs.{{payment.cgst}}</td>
            </tr>
            <tr>
                <th>SGST(2.5%)</th>
                <td>Rs.{{payment.sgst}}</td>
            </tr>
            <tr>
                <th>Total Price</th>
                <td><strong>Rs.{{payment.totalFee}}</strong></td>
            </tr>
        </table>


        <button class="btn btn-info" routerLink="/payment">Continue with payment</button>
    </div>
</div>

  