<div class="table-responsive" class="hero-image" style="padding-top:-47.2px; margin-top:-47.2px">
  <div>
    <h4 align="center"><strong>Administrator page</strong></h4>
  </div>
  <div align="center" class="imgcontainer">
    <img src="../assets/img/spot.png" alt="Avatar" class="avatar">
  </div>
  

  <!-- <div style="margin-left: 40px;">
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder=" &#61442; Search" id="search" [(ngModel)]="searchText"
          name="search">

        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>  -->
  <span style="margin-right:10px;" class="container"><button class="btn btn-primary"
      routerLink="/addchoreographers" type="button">Add
      Choreographers</button>

      <span  fxLayout fxLayoutAlign="center center" class="d-flex justify-content-end">
        <mat-form-field fxFlex="30%">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </span ></span>
  
 
<div class="wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


      <ng-container matColumnDef="cId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Choreographer Id </strong></th>
        <td mat-cell *matCellDef="let element"> {{element.cId}} </td>
      </ng-container>

      <ng-container matColumnDef="cName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Name</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.cName}}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Age</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Gender</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="danceType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>DanceForm</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.danceType}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>City</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Area</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Service</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.place}} </td>
      </ng-container>

      <ng-container matColumnDef="noOfBookings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>NoOf Students</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.noOfBookings}} </td>
      </ng-container>

      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Charge</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element.charge}} </td>
      </ng-container>

      <!-- buttons -->

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> <strong>Edit</strong> </th>
        <td mat-cell *matCellDef="let element"><button class="btn btn-info" (click)="editChoreographer(element)" >Edit</button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> <strong>Delete</strong> </th>
          <td mat-cell *matCellDef="let element"><button class="btn btn-danger" (click)="deleteChoreographer(element)" >Delete</button> </td>
  
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Angular 8 pagination -->
    <mat-paginator align="center" [pageSizeOptions]="[2, 10, 15,choreographers.length]" showFirstLastButtons></mat-paginator>
    <br>
    <!-- <pagination-controls align="center" (pageChange)="pageChanged($event)"></pagination-controls> -->

  </div>