  <html>
      <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
      </style>
      </head>
      <body>
      
      <div class="hero-image">
        <br>
        <br>
        <br>
        <h3 align="center" style="color:white; font-size:20px;" >Hey! Welcome to</h3>
        <h1 align="center" style="color:darkred; font-size: 50px;" ><strong>SPOTLIGHT DANCE STUDIO</strong></h1>
        <br>
        <br>
        <h2 align="center" style="color:cornsilk; font-size:20px;" >About Us:</h2>
        <div class="container"> <strong> <p style="mask-border: 20px; font-size:20px; color:cornsilk;">
          Dance resides within us all. Some find it when joy conquers sorrow, 
          others express it through celebration of movements; and then there are those... whose existence is dance
          . A growing number of people are becoming interested in taking dance lessons as a result of the popularity of many shows. 
          Capitalize on this current
                dance craze and use our online Dance Registration Form to let 
                prospective students register for dance classes quickly
                 and easily - right on our website!
            </p></strong></div><br>

            <h2 align="center" style="color:rgb(247, 209, 103); font-size: 20px;" ><strong>DANCE STYLES: Classical, Jazz, Folk, Breakdance and many more... </strong></h2>
<br>
           <div  align="center" > <button class="myButton" routerLink="/login">Lights..Camera..Dance!</button></div> 
      </div>
      



        
      </body>
      </html>
      